.p-4 {
  padding: 4px;
}

.pt-4 {
  padding-top: 4px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pl-4 {
  padding-left: 4px;
}

.pr-4 {
  padding-right: 4px;
}

.p-8 {
  padding: 0.5rem;
}

.pt-8 {
  padding-top: 0.5rem;
}

.pb-8 {
  padding-bottom: 0.5rem;
}

.pl-8 {
  padding-left: 0.5rem;
}

.pr-8 {
  padding-right: 0.5rem;
}

.p-10 {
  padding: 0.5rem;
}

.pt-10 {
  padding-top: 0.5rem;
}

.pb-10 {
  padding-bottom: 0.5rem;
}

.pl-10 {
  padding-left: 0.5rem;
}

.pr-10 {
  padding-right: 0.5rem;
}

.p-12 {
  padding: 0.75rem;
}

.pt-12 {
  padding-top: 0.75rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.p-14 {
  padding: 1rem;
}

.pt-14 {
  padding-top: 1rem;
}

.pb-14 {
  padding-bottom: 1rem;
}

.pl-14 {
  padding-left: 1rem;
}

.pr-14 {
  padding-right: 1rem;
}

.p-16 {
  padding: 1rem;
}

.pt-16 {
  padding-top: 1rem;
}

.pb-16 {
  padding-bottom: 1rem;
}

.pl-16 {
  padding-left: 1rem;
}

.pr-16 {
  padding-right: 1rem;
}

.p-20 {
  padding: 1.5rem;
}

.pt-20 {
  padding-top: 1.5rem;
}

.pb-20 {
  padding-bottom: 1.5rem;
}

.pl-20 {
  padding-left: 1.5rem;
}

.pr-20 {
  padding-right: 1.5rem;
}

.p-24 {
  padding: 2rem;
}

.pt-24 {
  padding-top: 2rem;
}

.pb-24 {
  padding-bottom: 2rem;
}

.pl-24 {
  padding-left: 2rem;
}

.pr-24 {
  padding-right: 2rem;
}

.m-4 {
  margin: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.ml-4 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.m-8 {
  margin: 0.5rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.m-10 {
  margin: 0.5rem;
}

.mt-10 {
  margin-top: 0.5rem;
}

.mb-10 {
  margin-bottom: 0.5rem;
}

.ml-10 {
  margin-left: 0.5rem;
}

.mr-10 {
  margin-right: 0.5rem;
}

.m-12 {
  margin: 0.75rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.m-14 {
  margin: 1rem;
}

.mt-14 {
  margin-top: 1rem;
}

.mb-14 {
  margin-bottom: 1rem;
}

.ml-14 {
  margin-left: 1rem;
}

.mr-14 {
  margin-right: 1rem;
}

.m-16 {
  margin: 1rem;
}

.mt-16 {
  margin-top: 1rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.ml-16 {
  margin-left: 1rem;
}

.mr-16 {
  margin-right: 1rem;
}

.m-20 {
  margin: 1.5rem;
}

.mt-20 {
  margin-top: 1.5rem;
}

.mb-20 {
  margin-bottom: 1.5rem;
}

.ml-20 {
  margin-left: 1.5rem;
}

.mr-20 {
  margin-right: 1.5rem;
}

.m-24 {
  margin: 2rem;
}

.mt-24 {
  margin-top: 2rem;
}

.mb-24 {
  margin-bottom: 2rem;
}

.ml-24 {
  margin-left: 2rem;
}

.mr-24 {
  margin-right: 2rem;
}

html {
  font-size: 16px;
}

.typography .row {
  margin-bottom: 2rem;
}

.shadow-1, .btn.icon-btn:hover {
  box-shadow: 0px 8px 24px rgba(18, 17, 39, 0.08);
}

body {
  background-color: #fff;
  color: #3E4445;
  line-height: 1.7;
  font-family: "Raleway", sans-serif;
  padding: 8px 20px;
}
@media (min-width: 600px) {
  body {
    padding: 0;
  }
}

h1, h2, .header-section .hey-there, h3, h4, h5, .header-section .sub-title, h6 {
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: #171918;
}

h1 {
  font-size: 44px;
  line-height: 1.4;
}

h2, .header-section .hey-there {
  font-size: 40px;
  line-height: 1.4;
}

h3 {
  font-size: 32px;
  line-height: 1.4;
}

h4 {
  font-size: 24px;
  line-height: 1.4;
}

h5, .header-section .sub-title {
  font-size: 1.5rem;
  line-height: 1.4;
}

h6 {
  font-size: 1rem;
}

.body-small {
  font-size: 14px;
}

.small-text {
  font-size: 0.75rem;
}

.smallest-text {
  font-size: 10px;
}

.section-header {
  margin-bottom: 32px;
  font-size: 1.5rem;
  font-weight: 600;
}

.bg-primary {
  background-color: #171918 !important;
}

.btn.icon-btn:hover {
  background-color: #F1F5F6;
  border: 1px solid #E5E5EB;
}

.btn-outline-primary {
  border: 1px solid #171918;
  color: #171918;
  font-size: 0.75rem;
}
.btn-outline-primary:hover {
  background-color: #F3F3F6;
  color: #171918;
}

a {
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
}

.header-section .logo {
  margin-bottom: 1rem;
}
.header-section .img-color {
  height: 100%;
  margin: 0px 80px;
  border-radius: 1rem;
}
.header-section .img-color img {
  width: 400px;
}
.header-section .desc {
  font-size: 1rem;
}

.media-links {
  display: flex;
}
.media-links .icon-btn {
  margin-right: 4px;
}
.media-links .icon-btn img {
  height: 24px;
}

.work-card-wrapper {
  display: flex;
  flex-direction: column;
}

.work-card {
  display: flex;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}
.work-card .img-wrapper {
  height: 200px;
  width: 400px;
  flex-shrink: 0;
  background-color: #F1F5F6;
}
.work-card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.5rem;
}
.work-card .content .title-section {
  display: flex;
  justify-content: space-between;
}
.work-card .content .truncate-overflow {
  max-height: calc(1.5rem * 4);
  overflow: hidden;
}
.work-card .content .truncate-overflow::before {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
}
.work-card .content .work-card-footer {
  display: flex;
  justify-content: space-between;
}

.work-card-col:not(:last-child) .work-card-new {
  margin-bottom: 30px;
  border-bottom: 1px solid #E5E5EB;
}

.work-card-new {
  position: relative;
  display: block;
}
.work-card-new .work-img {
  width: 100%;
}
.work-card-new .details {
  margin-top: 4px;
  padding-bottom: 8px;
}
.work-card-new .details .title {
  font-size: 1rem;
  font-weight: 600;
  color: #171918;
  margin-bottom: 4px;
}
.work-card-new .details .desc {
  font-size: 0.75rem;
  color: #3E4445;
}
.work-card-new .details .btn {
  display: none;
}
@media (min-width: 1025px) {
  .work-card-new .details {
    display: none;
  }
  .work-card-new .card-overlay {
    display: none;
  }
  .work-card-new:hover .card-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
  }
  .work-card-new:hover .details {
    display: block;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-20%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);
  }
  .work-card-new:hover .details .desc {
    margin-bottom: 1rem;
  }
  .work-card-new:hover .details .btn {
    display: block;
  }
}

.social-media-card {
  display: flex;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #E5E5EB;
  text-decoration: none;
  margin-bottom: 1.5rem;
}
.social-media-card .img-wrapper {
  height: 32px;
  width: 32px;
  margin-right: 1rem;
}
.social-media-card .content .title {
  margin-bottom: 8px;
}
.social-media-card .content .desc {
  font-size: 0.75rem;
  color: #3E4445;
}
@media (min-width: 1025px) {
  .social-media-card .content .desc {
    font-size: 1rem;
  }
}
.social-media-card:hover .content .title {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.social-media-card.email-card {
  background-color: #171918;
  color: white;
}
.social-media-card.email-card .title {
  color: white;
}
.social-media-card.email-card .desc {
  color: #F1F5F6;
}

.footer-section {
  font-size: 0.75rem;
}

#site-header.sticky.animate {
  transition: transform 250ms linear, background 150ms linear, padding 200ms linear !important;
  transform: translate3d(0, 0, 0) !important;
}

#site-header.sticky {
  position: fixed;
  top: 0;
  margin-top: 0;
  width: 100%;
}

#site-header .site-header-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  margin: auto;
  position: relative;
  width: 90%;
  max-width: 2560px;
}

#site-navigation {
  pointer-events: all;
}

#site-navigation .top-menu {
  font-size: 11px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.top-menu {
  position: relative;
  margin: 0;
  z-index: 10;
  list-style: none;
  right: -7px;
  font-size: 10px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.right {
  float: right !important;
}

* > ul:last-child, * > ol:last-child {
  margin-bottom: 0;
}

.top-menu li {
  display: inline-block;
  margin-bottom: 0 !important;
  padding: 9px 7px;
  letter-spacing: 1px;
  transition: all 200ms linear;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 0.375s cubic-bezier(0.29, 0.09, 0.22, 0.98);
}
.top-menu li a {
  transition: all 200ms linear;
  position: relative;
  color: #000000;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
/* smartphones, Android phones, landscape iPhone */

/*# sourceMappingURL=app.css.map */
