@use '_variables.scss';




html {
    font-size: $base-size;
}

.typography .row {
    margin-bottom: $size-24-px;

}

.shadow-1 {
    box-shadow: 0px 8px 24px rgba(18, 17, 39, 0.08)
}

body {
    background-color: $white;
    color: $body-text;
    line-height: $line-height;
    letter-spacing: -0.01em;
    font-family: 'Sora', sans-serif;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-bottom: $size-12-px;
    color: $primary-text;

}

h1 {
    font-size: 44px;
    line-height: 1.4;
}


h2 {
    font-size: 40px;
    line-height: 1.4;
}

h3 {
    font-size: 32px;
    line-height: 1.4;
}

h4 {
    font-size: 24px;
    line-height: 1.4;
}

h5 {
    font-size: $size-20-px;
    line-height: 1.4;
}

h6 {
    font-size: $size-16-px;
}

.body-small {
    font-size: 14px;
}

.small-text {
    font-size: $size-12-px;
}

.smallest-text {
    font-size: $size-10-px;
}

.section-header {
    margin-bottom: $size-20-px;
    font-size: $size-24-px;
    color: $primary-text;
    // text-transform: uppercase;
    // letter-spacing: 4px;
    font-weight: 600;
}



.bg-primary {
    background-color: $brand-primary !important;
}



.btn.icon-btn {
    &:hover {
        background-color: $background-color;
        border: 1px solid $border-color;
        @extend .shadow-1;

    }
}

.btn-outline-primary {
    border: 1px solid$primary-text;
    color: $brand-primary;
    font-size: $size-12-px;

    &:hover {
        background-color: $brand-bg;
        color: $brand-primary;

    }

}

a {
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
}


