.navbar {
    background-color: $bg-dark;

    .navbar-brand {
        img {
            width: 80px;
        }
    }

    .navbar-links {
        justify-content: end;

        .navbar-nav {
            justify-content: end;
            flex-direction: row;

            li {


                a {
                    color: white;
                    opacity: $sec-text-opacity;

                    text-underline-offset: 2px;

                    @media (min-width:$laptop-breakpoint) {
                        text-decoration: none;

                        &:hover,
                        &.active {
                            opacity: 1;
                            text-decoration: underline;
                        }
                    }

                }

                &:not(:last-child) {
                    a {
                        margin-right: 12px;
                    }


                }
            }
        }
    }
}


.header-section {
    background-color: $bg-dark;
    color: white;
    padding: 8px 20px;

    // background: linear-gradient(140deg, #e2dcff00, #ff6bd282);

    @media (min-width:600px) {
        padding: 0;
    }

    .logo {
        margin-bottom: $size-16-px;
    }

    .img-color {
        height: 100%;
        margin: 0px 80px;
        border-radius: $size-16-px;

        img {
            width: 400px;
        }
    }

    .hey-there {
        font-size: 40px;
        line-height: 1.4;
        margin-bottom: $size-12-px;
        color: white;
        letter-spacing: -0.01em;
    }

    .sub-title {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: $size-12-px;
        color: white;
        letter-spacing: -0.01em;
        opacity: $sec-text-opacity;
    }

    .desc {
        font-size: $size-14-px;
        opacity: $sec-text-opacity;
        line-height: 1.5;
    }

    @media (min-width:$laptop-breakpoint) {
        .hey-there {
            font-size: 48px;
        }

       
        .desc {
            font-size: $size-16-px;
            line-height: 1.5;
        }
    }
}

.media-links {
    display: flex;

    .icon-btn {
        margin-right: 4px;

        img {
            height: 24px;
        }
    }

}


.truncate-overflow {

    max-height: calc(1.5rem * 4);
    overflow: hidden;

    &::before {
        content: "...";
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.work-card-col {
    &:not(:last-child) {
        .work-card-new {
            margin-bottom: 30px;
            border-bottom: 1px solid $border-color;
        }

    }
}



.grid-item {

    &.w-33{
        width: 33.3%;
    }

    img {
        width: 100%;
        background: url('../assets/loader.svg') no-repeat;
    }

    .title {
        position: absolute;
        text-align: left;
        opacity: 1;
        top: 0;
        visibility: visible;
        transition-delay: 800ms;
        width: 100%;
        transition: visibility 600ms cubic-bezier(.4, 0, .2, 1), opacity 600ms cubic-bezier(.4, 0, .2, 1);
        will-change: opacity;
        font-size: 16px;
        text-align: left;
        font-weight: 500;
        padding: 16px 20px;
        color: #fff;
        transition: visibility 600ms cubic-bezier(.4, 0, .2, 1), opacity 600ms cubic-bezier(.4, 0, .2, 1);
        will-change: opacity;
        background: linear-gradient(139deg, #00000073, #00000000);

    }


    @media (min-width:$laptop-breakpoint) {

        width: 50%;

        .title,
        .card-overlay {
            padding: 24px;
            font-size: 20px;
            display: none;

        }

        &:hover {
            display: block;

            .title {
                display: block;
            }

            // transform: scale(1.1);

        }
    }
}

.grid-item.animate {
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-animation: scaleUp 0.65s ease-in-out forwards;
	animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}


.footer-section {
    padding: 8px 20px;
    background-color: $bg-dark;
    color: #fff;

    a {
        color: white;
        opacity: $sec-text-opacity;
        text-decoration: underline;
        text-underline-offset: 2px;

        @media (min-width:$laptop-breakpoint) {
            text-decoration: none;

            &:hover {
                opacity: 1;
                text-decoration: underline;
            }
        }
    }

    .contact-me {
        margin-bottom: $size-24-px;

    }

    @media (min-width:$laptop-breakpoint) {
        padding: 0;

        .contact-me {
            margin-bottom: 0;
            opacity: $sec-text-opacity;
        }
    }

    .section-header {
        color: #fff;
    }

    .social-links {
        display: flex;
        opacity: $sec-text-opacity;
        flex-wrap: wrap;
        justify-content: center;
        a {
            font-size: $size-14-px;

            &:not(:last-child) {
                margin-right: 12px;
            }
        }


    }
}


.about-section {
    background-color: $bg-dark;
    color: white;
    padding: 8px 20px;

    @media (min-width:600px) {
        padding: 0;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
        font-size: $size-32-px;
        color: white;
    }

    .img-section {
        display: flex;
    }

    .hero-img {
        width: 240px;
    }

    .arrow-work {
        display: none;
        justify-content: center;
        margin-top: 120px;
        flex-direction: column;
        align-items: center;

        .facts-hint {
            margin-bottom: 12px;
        }
    }

    @media (min-width:$laptop-breakpoint) {
        height: 100vh;

        .img-section {
            justify-content: end;
            padding-right: 40px;
        }

        .name {
            font-size: 48px;
        }

        .arrow-work {
            display: flex;
        }
    }
}


.about-me {
    padding: 8px 20px;

    @media (min-width:600px) {
        padding: 0;
    }

    .fact-item {
        min-height: 80vh;


        .img-section {
            display: flex;


            img {
                width: 160px;
                object-fit: contain;
            }
        }

        .fact-content {
            font-size: $size-16-px;
        }

        // &:not(:last-child) {
        //     margin-bottom: 32px;
        // }

        @media (min-width:$laptop-breakpoint) {
            min-height: 60vh;
            align-items: center;

            .img-section {
                justify-content: end;
                padding-right: 40px;

                img {
                    width: 200px;
                }
            }
        }
    }
}