.header-section {
    padding: 8px 20px;

    @media (min-width:600px) {
        padding: 0;
    }
    .logo {
        margin-bottom: $size-16-px;
    }

    .img-color {
        height: 100%;
        margin: 0px 80px;
        border-radius: $size-16-px;

        img {
            width: 400px;
        }
    }

    .hey-there {
        font-size: 40px;
        line-height: 1.4;
        font-weight: 600;
        margin-bottom: $size-12-px;
        color: $primary-text;

    }

    .sub-title {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 600;
        margin-bottom: $size-12-px;
        color: $primary-text;
    }

    .desc {
        font-size: $size-14-px;
        line-height: 1.5;
    }

    @media (min-width:$laptop-breakpoint) {
        .hey-there {
            font-size: 56px;
        }

        .sub-title {
            font-size: 32px;
        }

        .desc {
            font-size: $size-18-px;
            line-height: 1.5;
        }
    }
}

.media-links {
    display: flex;

    .icon-btn {
        margin-right: 4px;

        img {
            height: 24px;
        }
    }

}


.truncate-overflow {

    max-height: calc(1.5rem * 4);
    overflow: hidden;

    &::before {
        content: "...";
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.work-card-col {
    &:not(:last-child) {
        .work-card-new {
            margin-bottom: 30px;
            border-bottom: 1px solid $border-color;
        }

    }
}

.work-card-new {
    position: relative;
    display: block;

    .card-title {
        font-size: $size-20-px;
        font-weight: 600;
        color: $primary-text;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .date {
            font-size: $size-14-px;
            margin-left: 6px;
        }
    }


    .work-img {
        width: 100%;

    }

    .details {
        margin-top: 4px;

        .title {
            font-size: $size-20-px;
            font-weight: 600;
            color: $primary-text;
            margin-bottom: 4px;
            display: none;

        }

        .desc {
            font-size: $size-14-px;
            color: $body-text;
        }

        .btn {
            display: none;
        }

        padding-bottom: 8px;
    }


    @media (min-width:$laptop-breakpoint) {
        .card-title {
            display: none;
        }

        .details {
            display: none;
        }

        .card-overlay {
            display: none;
        }

        &:hover {

            // transform: scale(1.1);
            .card-overlay {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(2px);

            }

            .details {
                display: flex;
                flex-direction: column;
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
                padding: 20px;

                .detail-card {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    border-radius: 12px;
                    box-shadow: 0px 12px 40px rgb(18 17 39 / 16%);
                    background-color: #fff;
                }

                .title {
                    display: block;
                    font-size: $size-16-px;

                    .date {
                        font-size: $size-14-px;
                        margin-left: 6px;
                    }
                }

                .desc {

                    font-size: $size-14-px;
                }

                .btn {
                    margin-top: $size-16-px;
                    display: block;
                    flex-grow: 0;
                    align-self: center;
                }
            }
        }
    }

}


.grid-item {
    

    img {
        width: 100%;
    }

    .title {
        position: absolute;
        text-align: left;
        opacity: 1;
        top: 0;
        visibility: visible;
        transition-delay: 800ms;
        width: 100%;
        transition: visibility 600ms cubic-bezier(.4, 0, .2, 1), opacity 600ms cubic-bezier(.4, 0, .2, 1);
        will-change: opacity;
        font-size: 20px;
        text-align: left;
        font-weight: 500;
        padding: 24px;
        color: #fff;
        display: none;
    }

    @media (min-width:$laptop-breakpoint) {
        width: 50%;
        
        &:hover {
            .title {
                display: block;
            }

            // transform: scale(1.1);
            .card-overlay {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: linear-gradient(173deg, #000000ab, #00000063);
                // backdrop-filter: blur(2px);

            }
        }
    }
}

.social-media-section{
    padding: 8px 20px;
    background-color: #e2e2ff;
    @media (min-width:600px) {
        padding: 0;
    }
}

.social-media-card {
    display: flex;
    background-color: white;
    padding: $size-20-px;
    border-radius: $size-16-px;
    border: 1px solid $border-color;
    text-decoration: none;
    margin-bottom: $size-20-px;

    .img-wrapper {
        height: 32px;
        width: 32px;
        margin-right: $size-16-px;
    }

    .content {
        .title {
            margin-bottom: 8px;
        }

        .desc {
            font-size: $size-12-px;
            color: $body-text;

            @media (min-width:$laptop-breakpoint) {
                font-size: $size-14-px;
            }
        }
    }

    &:hover {
        .content {
            .title {
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }
    }

    &.email-card {
        background-color: $brand-primary;
        color: white;

        .title {
            color: white;
        }

        .desc {
            color: $background-color;
        }
    }

}

.footer-section {
    font-size: $size-12-px;
}