.header-section {
    padding: 8px 20px;

    // background: linear-gradient(140deg, #e2dcff00, #ff6bd282);

    @media (min-width:600px) {
        padding: 0;
    }

    .logo {
        margin-bottom: $size-16-px;
    }

    .img-color {
        height: 100%;
        margin: 0px 80px;
        border-radius: $size-16-px;

        img {
            width: 400px;
        }
    }

    .hey-there {
        font-size: 40px;
        line-height: 1.4;
        font-weight: 600;
        margin-bottom: $size-12-px;
        color: $primary-text;

    }

    .sub-title {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 600;
        margin-bottom: $size-12-px;
        color: $primary-text;
    }

    .desc {
        font-size: $size-16-px;
        line-height: 1.5;
    }

    @media (min-width:$laptop-breakpoint) {
        .hey-there {
            font-size: 56px;
        }

        .sub-title {
            font-size: 32px;
        }

        .desc {
            font-size: $size-18-px;
            line-height: 1.5;
        }
    }
}

.media-links {
    display: flex;

    .icon-btn {
        margin-right: 4px;

        img {
            height: 24px;
        }
    }

}


.truncate-overflow {

    max-height: calc(1.5rem * 4);
    overflow: hidden;

    &::before {
        content: "...";
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.work-card-col {
    &:not(:last-child) {
        .work-card-new {
            margin-bottom: 30px;
            border-bottom: 1px solid $border-color;
        }

    }
}



.grid-item {


    img {
        width: 100%;
    }

    .title {
        position: absolute;
        text-align: left;
        opacity: 1;
        top: 0;
        visibility: visible;
        transition-delay: 800ms;
        width: 100%;
        transition: visibility 600ms cubic-bezier(.4, 0, .2, 1), opacity 600ms cubic-bezier(.4, 0, .2, 1);
        will-change: opacity;
        font-size: 16px;
        text-align: left;
        font-weight: 500;
        padding: 16px 20px;
        color: #fff;
        transition: visibility 600ms cubic-bezier(.4, 0, .2, 1), opacity 600ms cubic-bezier(.4, 0, .2, 1);
        will-change: opacity;
        background: linear-gradient(139deg, #00000073, #00000000);

    }


    @media (min-width:$laptop-breakpoint) {

        width: 50%;

        .title,
        .card-overlay {
            padding: 24px;
            font-size: 20px;
            display: none;

        }

        &:hover {
            display: block;

            .title {
                display: block;
            }

            // transform: scale(1.1);

        }
    }
}

.footer-section {
    padding: 8px 20px;
    background-color: #1c1c1c;
    color: #fff;

    a {
        color: white;
        text-decoration: underline;
        text-underline-offset: 2px;

        @media (min-width:$laptop-breakpoint) {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .contact-me {
        margin-bottom: $size-24-px;

    }

    @media (min-width:$laptop-breakpoint) {
        padding: 0;

        .contact-me {
            margin-bottom: 0;
        }
    }

    .section-header {
        color: #fff;
    }

    .social-links {
        display: flex;

        flex-wrap: wrap;

        a {
            font-size: $size-14-px;

            &:not(:last-child) {
                margin-right: 12px;
            }
        }

        @media (min-width:$laptop-breakpoint) {
            justify-content: end;
        }

    }
}


.social-media-section {
    padding: 8px 20px;
    background-color: $brand-primary;
    color: #fff;

    @media (min-width:600px) {
        padding: 0;
    }

    .section-header {
        color: #fff;
    }

    .footer-text {
        font-size: $size-14-px;
    }
}

.social-media-card {
    display: flex;
    padding: $size-20-px;
    border-radius: $size-16-px;
    border: 1px solid #e5e5eb14;
    text-decoration: none;
    margin-bottom: $size-20-px;
    color: white;


    .img-wrapper {
        height: 32px;
        width: 32px;
        margin-right: $size-16-px;
    }

    .content {
        .title {
            margin-bottom: 8px;
            color: white;
            font-weight: 500;
        }

        .desc {
            font-size: $size-12-px;
            color: #ffffffbd;

            @media (min-width:$laptop-breakpoint) {
                font-size: $size-14-px;
            }
        }
    }

    &:hover {
        .content {
            .title {
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }
    }

    &.email-card {
        background-color: $brand-primary;
        color: white;

        .title {
            color: white;
        }

        .desc {
            color: $background-color;
        }
    }

}